<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92302874503-d803vmpc984j51s6m464s8q514i0pcm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92302874503-d803vmpc984j51s6m464s8q514i0pcm5</string>
	<key>API_KEY</key>
	<string>AIzaSyCigEbGjewDSKBlHpmQ6PSLdEXRjD4ZYus</string>
	<key>GCM_SENDER_ID</key>
	<string>92302874503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apparat.vpn.cheburnet</string>
	<key>PROJECT_ID</key>
	<string>cheburnet-vpn</string>
	<key>STORAGE_BUCKET</key>
	<string>cheburnet-vpn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92302874503:ios:a22bc0703abf7e145ce522</string>
	<key>DATABASE_URL</key>
	<string>https://cheburnet-vpn.firebaseio.com</string>
</dict>
</plist>